.weatherPage {
  display: flex;
  flex-direction: column;

  &__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 1em;

    &__textbox {
      display: inherit;
      flex: 70%;
      justify-content: right;
    }

    &__button {
      display: inherit;
      flex: 30%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__output {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 0.5em;

    &__location {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &__cards {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .weatherPage {
    &__input {
      flex-direction: column;

      &__button {
        margin-top: 0.5em;
      }
    }

    &__output {
      &__cards {
        flex-direction: column;
      }
    }
  }
}
